// Blockquotes

blockquote {
    display: inline-block;
    margin: 1.5rem 0;
    padding: 1rem 1.5rem;
    border-left: 4px solid $gray-light;

    &.quotes {
        position: relative;
        border: none;

        &:before,
        &:after {
            position: absolute;
            font-family: $font-secondary;
            font-size: 3rem;
            line-height: 1;
        }

        &:before {
            content: $quote-left;
            top: 0;
            left: 0;
        }

        &:after {
            content: $quote-right;
            top: 0;
            right: 0;
        }
    }

    *:last-child {
        margin-bottom: 0;
    }

    &:before,
    &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}
