// Buttons

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	color: $white;
	line-height: 1;
    font-size: 1rem;
	font-weight: normal;
	margin-bottom: 0.5rem;
	padding: 1rem 1.5rem;
	text-align: center;
    font-family: $font;
    cursor: pointer;
	background: $black;
	border: 1px solid $black;
    border-radius: 3px;
    transition: 0.3s ease-in-out;

	&:hover,
	&:focus {
		color: $white;
		background: $gray-dark;
		border-color: $gray-dark;
	}

	&.btn-outline {
		background: transparent !important;
		color: $black;

		&:hover,
		&:focus {
			color: $gray-dark;
			border-color: $gray-dark;
		}
	}

	&.btn-primary {
		background: $primary;
		border-color: $primary;

		&:hover,
		&:focus {
			background: $primary-light;
			border-color: $primary-light;
		}

		&.btn-outline {
			color: $primary;
			border-color: $primary;

			&:hover,
			&:focus {
				color: $primary-light;
				border-color: $primary-light;
			}
		}
	}

	&.btn-secondary {
		background: $secondary;
		border-color: $secondary;

		&:hover,
		&:focus {
			background: $secondary-light;
			border-color: $secondary-light;
		}

		&.btn-outline {
			color: $secondary;
			border-color: $secondary;

			&:hover,
			&:focus {
				color: $secondary-light;
				border-color: $secondary-light;
			}
		}
	}

	&.btn-small {
		padding: 0.5rem 1rem;
		font-size: 0.8rem;
	}

	&.btn-large {
		padding: 1.5rem 2rem;
		font-size: 1.4rem;
	}

	&.btn-full {
		display: block;
		width: 100%;
	}

	&.btn-disabled {
		background: #888;
		color: #bbb;
	}
}

