// Code

code,
pre,
xmp {
    color: $white;
    background: $secondary-light;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    border-radius: 3px;
    font-size: 0.8rem;
    margin: 0;
    tab-size: 4;
    hyphens: none;

    .comment {
        color: #8C93A0;
    }
}

pre,
:not(pre) > xmp {
    padding: 1rem;
    margin: 0.5rem 0;
    overflow: auto;
}

:not(pre) > code {
    padding: 0.1rem;
    white-space: normal;
}
