// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-secondary;
    font-weight: 700;
    margin: 0;
}

h1,
h2,
h3 {
    color: $primary;
}

h4,
h5,
h6 {
    color: $gray-dark;
}

h1 {
    font-size: 4.0rem;
}

h2 {
    font-size: 3.0rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2.0rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}
