// Lists

ul,
ol {
    margin-bottom: 1rem;

    li {
        margin-bottom: 0.5rem;
    }
}

ul {
    list-style: disc inside;

    ul {
        list-style-type: circle;
    }
}

ol {
    list-style: decimal inside;

    ul {
        list-style-type: circle;
    }
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 0.5rem 0 0.5rem 1.5rem;
    font-size: 0.9rem;
}

dl {
    margin-bottom: 1rem;

    dt,
    dd {
        margin-bottom: 0.5rem;
    }

    dd {
        margin-left: 1.5rem;
    }
}

.list-inline {
    li {
        display: inline-block;
        margin-bottom: 0;
        padding: 0.5rem;
    }
}
