// Tables

table {
    margin-bottom: 1rem;

    tr {
        transition: background 0.3s ease-in-out;
    }

    &.table-hover {
        tbody {
            tr:hover {
                background: $gray-ultralight;
            }
        }
    }

    &.table-alt {
        tr {
            border: none;
        }

        tbody {
            tr {
                &:nth-of-type(odd) {
                    background: $gray-ultralight;
                }
            }
        }

        &.table-hover {
            tbody {
                tr {
                    &:hover {
                        background: $gray-light;
                    }
                }
            }
        }
    }

    &.table-full {
        width: 100%;
    }
}

tr {
    border-bottom: 1px solid $gray-ultralight;
}

th,
td {
    padding: 0.5rem 1rem;
    text-align: left;
}

th {
    font-weight: bold;
}
