// Utility
// ------------------------

// Clearfix
.cf {
    @include clearfix;
}

// Hide elements visually
.hide-vis {
    position: absolute !important;
    overflow: hidden;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
}

// Hide and show elements
.hide {
    display: none !important;
    visibility: hidden !important;
}

@each $breakpoint, $widths in $breakpoints {
    [class*="show-#{$breakpoint}"] {
        display: none;
    }

    @media (min-width: map-get(map-get($breakpoints, $breakpoint), min)) {
        .show-#{$breakpoint}-up {
            display: block !important;
        }

        .hide-#{$breakpoint}-up {
            display: none !important;
        }
    }

    @media (min-width: map-get(map-get($breakpoints, $breakpoint), min)) and (max-width: map-get(map-get($breakpoints, $breakpoint), max)) {
        .show-#{$breakpoint} {
            display: block !important;
        }

        .hide-#{$breakpoint} {
            display: none !important;
        }
    }

    @media (max-width: map-get(map-get($breakpoints, $breakpoint), max)) {
        .show-#{$breakpoint}-down {
            display: block !important;
        }

        .hide-#{$breakpoint}-down {
            display: none !important;
        }
    }
}

// Floats
.right {
	float: right;
}

.left {
	float: left;
}

// Text align
.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

.text-top,
.text-top * {
    vertical-align: top;
}

.text-bottom,
.text-bottom * {
    vertical-align: bottom;
}

// Color styling classes
@each $color, $types in $colors {
    @each $type, $hex in $types {
        $unique-selector: #{$color}-#{$type};

        @if $type == normal {
            $unique-selector: #{$color};
        }

        @if $color == other {
            $unique-selector: #{$type};
        }

        // Text color
        .text-#{$unique-selector} {
            color: $hex;
        }

        // Background color
        .bg-#{$unique-selector} {
            background-color: $hex;
        }
    }
}
