// Base

*,
*:before,
*:after {
    box-sizing: border-box;
}

::-moz-selection {
    color: $secondary;
    background: $primary;
}

::selection {
    color: $secondary;
    background: $primary;
}

body {
	font: 100%/1.5 $font;
	-webkit-text-size-adjust: 100%;
	color: $black;
    min-width: $min-width;
}

.container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 1rem;

    @media (min-width: $bp-m) {
        padding: 1rem 2rem;
    }

    @media (min-width: $bp-l) {
        padding: 1rem;
    }
}
