// Blockquotes

q,
blockquote {
    display: block;
    font-style: italic;
    margin: 1rem 2rem;
    padding: 1rem 1.5rem;
    border-left: 4px solid $gray-light;

    @media (min-width: $bp-s) {
        margin: 2rem 4rem;
        text-align: justify;
    }

    &.quotes {
        display: inline-block;
        position: relative;
        border: none;
        padding-right: 0;
        padding-left: 0;

        &:before,
        &:after {
            position: absolute;
            font-family: $font-secondary;
            font-size: 3rem;
            line-height: 1;
        }

        &:before {
            content: $quote-left;
            top: -10px;
            left: -0.25rem;
        }

        &:after {
            content: $quote-right;
            bottom: -10px;
            right: 0.5rem;
            line-height: 0;
        }
    }

    *:last-child {
        margin-bottom: 0;
    }
}
