// Code

pre,
code {
    margin: 0;
    direction: ltr;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    color: $gray-ultradark;
    text-align: left;
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 1.5;
    text-decoration: none;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    tab-size: 4;
    hyphens: none;
    background: $gray-ultralight;
    border-radius: 3px;

    .comment {
        color: $gray;
    }
}

pre {
    margin-bottom: 1rem;
    padding: 1rem;
    overflow: auto;
}

:not(pre) > code {
    padding: 0.5rem;
    white-space: normal;
}
