input[type='text'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='search'],
input[type='url'],
input[type='password'],
textarea,
select {
    width: 100%;
    max-width: 100%;
    height: 40px;
    margin-bottom: 1rem;
    padding: 0.5rem 0.75rem;
    font-family: $font-secondary;
    font-size: 0.9rem;
    color: $gray;
    background-color: transparent;
    border: 1px solid $gray;
    border-radius: 3px;
    box-shadow: none;
    outline: 0;
    transition: border 0.3s ease-in-out;

    &:hover {
        border-color: $gray-dark;
    }

    &:active,
    &:focus {
        border-color: $primary;
    }
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='search'],
input[type='url'],
input[type='password'],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    height: 150px;
    resize: none;
}

label,
legend {
    display: block;
    margin-bottom: 0.25rem;
    font-family: $font-secondary;
    font-weight: 700;
}

fieldset {
    padding: 0.75rem 1rem 1rem;
    border: 1px solid $gray-light;
    border-radius: 3px;

    legend {
        padding: 0 0.5rem;
    }
}

