// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5rem 0;
    font-family: $font-secondary;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 2px;
}

h1,
h2,
h3 {
    color: $primary;
}

h4,
h5,
h6 {
    color: $gray-ultradark;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.0rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}
