// Lists

ul,
ol {
    margin-bottom: 1rem;

    li {
        margin-bottom: 0.5rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

ul {
    list-style: disc inside;

    ul {
        list-style-type: circle;
    }
}

ol {
    list-style: decimal inside;

    ul {
        list-style-type: circle;
    }
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 0.5rem 0 0.5rem 1.5rem;
    font-size: 0.9rem;
}

dl {
    margin-bottom: 1rem;

    dt,
    dd {
        margin-bottom: 0.5rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    dd {
        margin-left: 1.5rem;
    }
}

// Plain list
.list-plain {
    list-style: none;
    padding: 0;
}

// Inline list
.list-inline {
    list-style: none;

    li {
        display: inline-block;
        margin-bottom: 0;
        padding: 0.5rem;
    }
}

// Split list
.list-split {
    list-style: none;

    li {
        display: block;
        float: left;
        width: 100%;
        padding: 0;
        clear: none;
    }
}

@each $breakpoint, $widths in $breakpoints {
    @media (min-width: map-get(map-get($breakpoints, $breakpoint), min)) {
        @for $i from 2 through 6 {
            .list-split-#{$breakpoint}-#{$i} {
                li {
                    width: percentage(1 / $i);
                    padding: 0 0.5rem;

                    &:nth-child(#{$i}n + 1) {
                        padding-right: 0.5rem;
                        padding-left: 0;
                        clear: left;
                    }

                    &:nth-child(#{$i}n) {
                        padding-right: 0;
                        padding-left: 0.5rem;
                    }
                }
            }
        }
    }
}
