// Typography

i,
em {
    font-style: italic;
}

b,
strong {
    font-weight: 700;
}

small {
    font-size: 0.8rem;
}

p {
    margin-bottom: 1rem;

    &:last-of-type {
        margin-bottom: 0;
    }
}

hr {
    height: 1px;
    margin: 1.25rem 0;
    border: 0;
    background: $gray-light;
}
