// Utility

// Clearfix
.cf {
    *zoom: 1;

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

// Hide elements visually
.hide-vis {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
}

// Hide and show elements
.hide {
    display: none !important;
    visibility: hidden !important;
}

@each $breakpoint, $widths in $breakpoints {
    [class*="show-#{$breakpoint}"] {
        display: none;
    }

    @media (min-width: map-get(map-get($breakpoints, $breakpoint), min)) {
        .show-#{$breakpoint}-up {
            display: block !important;
        }

        .hide-#{$breakpoint}-up {
            display: none !important;
        }
    }

    @media (min-width: map-get(map-get($breakpoints, $breakpoint), min)) and (max-width: map-get(map-get($breakpoints, $breakpoint), max)) {
        .show-#{$breakpoint} {
            display: block !important;
        }

        .hide-#{$breakpoint} {
            display: none !important;
        }
    }

    @media (max-width: map-get(map-get($breakpoints, $breakpoint), max)) {
        .show-#{$breakpoint}-down {
            display: block !important;
        }

        .hide-#{$breakpoint}-down {
            display: none !important;
        }
    }
}

// Floats
.right {
	float: right;
}

.left {
	float: left;
}

// Text align
.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

.text-top,
.text-top * {
    vertical-align: top;
}

.text-bottom,
.text-bottom * {
    vertical-align: bottom;
}

// Text color
.text-primary-light {
    color: $primary-light;
}

.text-primary {
    color: $primary;
}

.text-primary-dark {
    color: $primary-dark;
}

.text-secondary-light {
    color: $secondary-light;
}

.text-secondary {
    color: $secondary;
}

.text-secondary-dark {
    color: $secondary-dark;
}

.text-gray-ultralight {
    color: $gray-ultralight;
}

.text-gray-light {
    color: $gray-light;
}

.text-gray {
    color: $gray;
}

.text-gray-dark {
    color: $gray-dark;
}

.text-gray-ultradark {
    color: $gray-ultradark;
}

.text-white {
    color: $white;
}

.text-black {
    color: $black;
}

.text-success {
    color: $success;
}

.text-warn {
    color: $warn;
}

.text-alert {
    color: $alert;
}

// Background color
.background-primary-light {
    background-color: $primary-light;
}

.background-primary {
    background-color: $primary;
}

.background-primary-dark {
    background-color: $primary-dark;
}

.background-secondary-light {
    background-color: $secondary-light;
}

.background-secondary {
    background-color: $secondary;
}

.background-secondary-dark {
    background-color: $secondary-dark;
}

.background-gray-ultralight {
    background-color: $gray-ultralight;
}

.background-gray-light {
    background-color: $gray-light;
}

.background-gray {
    background-color: $gray;
}

.background-gray-dark {
    background-color: $gray-dark;
}

.background-gray-ultradark {
    background-color: $gray-ultradark;
}

.background-white {
    background-color: $white;
}

.background-black {
    background-color: $black;
}

.background-success {
    background-color: $success;
}

.background-warn {
    background-color: $warn;
}

.background-alert {
    background-color: $alert;
}

// Border color
.border-primary-light {
    border: 1px solid $primary-light;
}

.border-primary {
    border: 1px solid $primary;
}

.border-primary-dark {
    border: 1px solid $primary-dark;
}

.border-secondary-light {
    border: 1px solid $secondary-light;
}

.border-secondary {
    border: 1px solid $secondary;
}

.border-secondary-dark {
    border: 1px solid $secondary-dark;
}

.border-gray-ultralight {
    border: 1px solid $gray-ultralight;
}

.border-gray-light {
    border: 1px solid $gray-light;
}

.border-gray {
    border: 1px solid $gray;
}

.border-gray-dark {
    border: 1px solid $gray-dark;
}

.border-gray-ultradark {
    border: 1px solid $gray-ultradark;
}

.border-white {
    border: 1px solid $white;
}

.border-black {
    border: 1px solid $black;
}

.border-success {
    border: 1px solid $success;
}

.border-warn {
    border: 1px solid $warn;
}

.border-alert {
    border: 1px solid $alert;
}
