// Variables

// Colors
$white: #ffffff;
$gray-ultralight: #efefef;
$gray-light: #cccccc;
$gray: #888888;
$gray-dark: #555555;
$black: #333333;

$primary: #6C6796;
$primary-dark: darken($primary, 10%);
$primary-light: lighten($primary, 10%);

$secondary: #FF8B86;
$secondary-dark: darken($secondary, 10%);
$secondary-light: lighten($secondary, 10%);

// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Slabo+27px);
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$open-sans: 'Open Sans', $helvetica;

$georgia: Georgia, Times, serif;
$slabo: 'Slabo 27px', $georgia;

$font: $open-sans;
$font-secondary: $slabo;

// Layout
$min-width: 20rem;
$max-width: 72rem;
$num-columns: 12;

// Breakpoints
$grid-width: $max-width;
$breakpoints: (
    xxs: (
        min: rem-calc(0),
        max: rem-calc(320)
    ),
    xs: (
        min: rem-calc(321),
        max: rem-calc(480)
    ),
    s: (
        min: rem-calc(481),
        max: rem-calc(640)
    ),
    m: (
        min: rem-calc(641),
        max: rem-calc(1024)
    ),
    l: (
        min: rem-calc(1025),
        max: rem-calc(1440)
    ),
    xl: (
        min: rem-calc(1441),
        max: rem-calc(1920)
    )
);
$bp-xxs: map-get(map-get($breakpoints, xxs), max);
$bp-xxs-min: map-get(map-get($breakpoints, xxs), min);
$bp-xxs-max: map-get(map-get($breakpoints, xxs), max);
$bp-xs: map-get(map-get($breakpoints, xs), max);
$bp-xs-min: map-get(map-get($breakpoints, xs), min);
$bp-xs-max: map-get(map-get($breakpoints, xs), max);
$bp-s: map-get(map-get($breakpoints, s), max);
$bp-s-min: map-get(map-get($breakpoints, s), min);
$bp-s-max: map-get(map-get($breakpoints, s), max);
$bp-m: map-get(map-get($breakpoints, m), max);
$bp-m-min: map-get(map-get($breakpoints, m), min);
$bp-m-max: map-get(map-get($breakpoints, m), max);
$bp-l: map-get(map-get($breakpoints, l), max);
$bp-l-min: map-get(map-get($breakpoints, l), min);
$bp-l-max: map-get(map-get($breakpoints, l), max);
$bp-xl: map-get(map-get($breakpoints, xl), max);
$bp-xl-min: map-get(map-get($breakpoints, xl), min);
$bp-xl-max: map-get(map-get($breakpoints, xl), max);

// Misc
$quote-left: "\201c";
$quote-right: "\201d";
$chevron-left: "&#x3008;";
$chevron-right: "&#x3009;";
$close: "&#x2715;";
